.comments-header {
    display: flex;
    color: whitesmoke;
    padding-left: 6px;
}

.new-comment {
    text-align: left;
    width: 100%;
}

.thread-line {
    border-left: 3px solid teal;
    position: relative;
    height: 100%;
    left: 1.5rem;
    top: 0;
}

.send-button {
    padding-bottom: 1rem;
}

.btn-close {
    display: flex;
    padding: 6px !important;
}

.comment {
    border-width: 2px;
    width: 100%;
}

.comment-indent {
    width: 2rem;
    border-width: 2px;
}

.comment-inner {
    padding: 5px;
}

.comment-author {
    display:flex;
    padding: 2px;
    color: whitesmoke;
}

.comment-text {
    color:rgb(218, 164, 0);
    display: flex;
    padding: 4px;
    overflow-wrap: anywhere;
    text-align: left;
}

.comment-menu {
    display: flex;
    padding-top: 4px;
}

.comment-menu-item {
    padding: 4px;
}